<div class="form-background" >
<div class="form-container">
  <%= simple_form_for @vinyl do |f| %>
    <div class="form-header">
      <h2>Edit this vinyl's settins</h2>
    </div>
    <div class="form-body">
      <h3>Album info</h3>
      <%= f.input :album_name, label: false, placeholder: "Album name" %>
      <%= f.input :artist, label: false, placeholder: "Artist" %>
      <%= f.input :description, label: false, placeholder: "Description" %>
      <%= f.select :genre, Vinyl::GENRES, prompt: " Genre" %>
      <%= f.input :photo, as: :file, input_html: { class: 'd-none'}, label_html: { class: 'upload-photo'}, label: "  Upload album cover" %>
      <h3>Rental info</h3>
      <%= f.input :address, label: false, placeholder: "Shipped from (city, country)" %>
      <%= f.select :condition, Vinyl::CONDITION, prompt: ' Condition' %>
      <%= f.input :daily_rate, input_html: { class: "price-input" }, label: false, placeholder: "Daily rental rate (€)" %>
      <br>
      <%= f.button :submit, "Add vinyl to collection", label_html: { class: "button-main" } %>
    </div>
  <% end %>
  <%= link_to vinyl_path(@vinyl), method: :delete do %>
    <div class="button-main">Delete</div>
  <% end %>
</div>
 <div class="rotating">
    <i class="fas fa-compact-disc"></i>
  </div>
</div>
