<div class="vinyl-wrapper">
  <div class="container">

    <!-- Search bar -->
    <%= render "shared/search" %>
    <%# search bar ends here %>
    <!-- Display of index cards -->
    <div class="cards">
      <% @vinyls.each do |vinyl| %>
        <div class="card-vinyl">
          <% if vinyl.photo.attached? %>
            <%= image_tag vinyl.photo %>
          <% end %>
          <div class="card-vinyl-info">
            <%= link_to vinyl_path(vinyl), class: "album-name" do %>
              <h2><strong><%=  vinyl.album_name %></strong> <em>by</em> <strong><%= vinyl.artist %></strong></h2>
              <p>Condition: <%= vinyl.condition %></p>
              <p>Genre: <%= vinyl.genre %></p>
              <p>Daily rate: <%= vinyl.daily_rate %>€</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="map-container">
    <div id="map"
      style="width: 100%;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    </div>
  </div>
</div>
