
<%# Import navbar partial %>

<%# Mine  %>
<div class = "wrapper">

  <div class = "info-container">
    <div class = "info-card">
      <div class = "card-and-title">
        <h3 class = "album-name"><%= @vinyl.album_name %></h3>
        <img src = "https://images-na.ssl-images-amazon.com/images/I/91ksS-ioRpL._SL1500_.jpg" >
      </div>

      <div class = "info-card-text">
        <p><strong> Artist</strong> <%= @vinyl.artist %> </p>
        <p> <strong> Genre </strong> <%= @vinyl.genre %> </p>
        <p> <strong> Condition </strong> <%= @vinyl.condition %> </p>
        <div class = "card-desc">
          <p> <strong> Description </strong> </p>
        </div>
        <p> <%= @vinyl.description %> </p>
      </div>
    </div>

    <div class = "request-rent-form">
      <h3> Rent this vinyl </h3>
      <p> Daily rate: $<%= @vinyl.daily_rate %> </p>
      <%# datepicker %>
      <% if current_user %>
        <%= simple_form_for [@user, @booking], method: "get" do |f| %>
        <%= f.input :start_date, as: :string, required: false, label_html: {class: "datepicker-label"}, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, label_html: {class: "datepicker-label"}, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Request rental", class: "btn-small" %>
        <% end %>
      <% else %>
        <%= link_to "Request rental", new_user_session_path, class: "btn-small" %>
      <% end %>

    </div>

  </div>
</div>
