
<%# Import navbar partial %>

<%# Mine  %>
<div class = "wrapper">

  <div class = "info-container">
    <div class = "info-card">
      <div class = "card-and-title">
        <h3 class = "album-name-show"><%= @vinyl.album_name %> by <%= @vinyl.artist %></h3>
          <% if @vinyl.photo.attached? %>
            <%= image_tag @vinyl.photo %>
          <% else %>
            <img src="https://res.cloudinary.com/dafu5yrkg/image/upload/v1630417136/homepage_image_tcwzjl.jpg)" alt="record photo placeholder">
          <% end %>
        <%# <img src = "https://images-na.ssl-images-amazon.com/images/I/91ksS-ioRpL._SL1500_.jpg" > %>
      </div>

      <div class = "info-card-text">
        <p class = "music-pill-show"><i class="fas fa-music"></i> <%= @vinyl.genre %> </p>
        <p class = "condition-pill-show"><i class="fas fa-broom"></i><%= @vinyl.condition %> condition </p>
        <div class = "card-desc">
          <p class = "show-description-title"> Description </p>
        </div>
        <p> <%= @vinyl.description %> </p>
      </div>
    </div>

    <div class = "request-rent-form">
      <h3> Rent this vinyl </h3>
      <p> Daily rate: $<%= @vinyl.daily_rate %> </p>
      <%# datepicker %>

      <%= simple_form_for [@vinyl, @booking] do |f| %>
        <%# f.input :vinyl_id, @vinyl.id, as: :hidden %>
        <%= f.input :start_date, as: :string, required: false, label_html: {class: "datepicker-label"}, input_html: {class: "datepicker"} %>
        <%= f.input :end_date, as: :string, required: false, label_html: {class: "datepicker-label"}, input_html: {class: "datepicker"} %>
        <%= f.button :submit, "Request rental", class: "btn-small" %>
      <% end %>


    </div>

  </div>
</div>
