<h1>Dashboard</h1>

<ul class="nav nav-vinyl mb-3" id="vinyl-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="vinyl-bought-tab" data-toggle="pill" href="#vinyl-bought" role="tab" aria-controls="vinyl-bought" aria-selected="true">Bought</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="vinyl-sold-tab" data-toggle="pill" href="#vinyl-sold" role="tab" aria-controls="vinyl-sold" aria-selected="false">Sold</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="vinyl-owned-tab" data-toggle="pill" href="#vinyl-owned" role="tab" aria-controls="vinyl-owned" aria-selected="false">Owned</a>
  </li>
</ul>
<div class="tab-content" id="vinyl-tabContent">
  <div class="tab-pane fade show active" id="vinyl-bought" role="tabpanel" aria-labelledby="vinyl-bought-tab">
    <h2>Pending</h2>
    <ul>
      <% @bookings_bought_pending.each do |booking| %>
        <li><%= booking.vinyl.artist %> </li>
      <% end %>
    </ul>
    <h2>Upcoming</h2>
    <ul>
      <% @bookings_bought_pending.each do |booking| %>
        <li><%= booking.vinyl.artist %> </li>
      <% end %>
    </ul>
    <h2>Completed</h2>
    <ul>
      <% @bookings_bought_pending.each do |booking| %>
        <li><%= booking.vinyl.artist %> </li>
      <% end %>
    </ul>
    <h2>Cancelled</h2>
    <ul>
      <% @bookings_bought_pending.each do |booking| %>
        <li><%= booking.vinyl.artist %> </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="vinyl-sold" role="tabpanel" aria-labelledby="vinyl-sold-tab">
    <ul>
      <% @bookings_sold_pending.each do |booking| %>
        <li><%= booking.vinyl.artist %> </li>
      <% end %>
    </ul>
  </div>
  <div class="tab-pane fade" id="vinyl-owned" role="tabpanel" aria-labelledby="vinyl-owned-tab">
    <ul>
      <% @vinyls_owned.each do |vinyl| %>
        <li><%= vinyl.artist %> </li>
      <% end %>
    </ul>
  </div>
</div>
